body{
    width: 100%;
    max-width: 2000px;
    margin: auto;
    background-color: rgb(230, 220, 184);
}
.header-box{
    width: 100%;
    padding: 10px;
    background-color: rgb(122, 105, 84);
    height: 100px;
    margin-bottom: 8px;
    font-size: 60px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    float: left;
}
.content-box .title{
    background-color: rgba(122, 105, 84, 0.48);
    height: auto;
    margin-bottom: 8px;
    font-size: 35px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    float: left;
}

.content-box .content{
    background-color: rgba(122, 105, 84, 0.48);
    height: auto;
    margin-bottom: 8px;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    float: left;
}



